<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %><!-- choose_new_or_editメソはhelperメソ -->
  <% if @blog.errors.any? %><!--url: confirm_blogs_path 追加  confiem作成時に-->
    <div id="error_explanation"><!-- form_withはデフォで引数がレコードに存在しない場合にcreate。そうでない場合にupdateへ。したがってconfirmの場合は上記のようにオプションを与えて、送り先を変えねばならない。-->
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2><!--form_withにurlオプションを与えることでblogs#confirmを実行することができる。 追記   url:choose_new_or_edit変更  -->
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="blog_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "ブログ一覧画面にもどる", blogs_path %>
